<nav class="navbar">
    <div class="navLeft">
        <div class="logo">
            <img src="assets/images/havelsan-logo-2.png" alt="Logo">   
        </div>
        <div class="thirdLine">
            <button class="thirdLineBtn">
            ☰
            </button>
        </div>  
    </div>
    <div class="menu">
      <a href="#">Ana Sayfa</a>
      <a href="#">Hakkımızda</a>
      <a href="#">Ürünler</a>
      <a href="#">İletişim</a>
      <a href="#" title="user icon">
          <img class="user-logo" src="assets/images/user-beyaz.png" alt="User Icon">
      </a>
    </div>
  </nav>
  